* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.6s ease-in-out;
}
html {
  scroll-behavior: smooth;
}

.img-container {
  height: 301px;
  width: 301px;
  border-radius: 50%;
  /* background-color: black; */
  /* border: 2px solid black; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px, rgb(51, 51, 0.1) 0px 0px 0px 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  height: 100%;
  width: 1000%;
  border-radius: 50%;
}
.menu {
  position: relative;
}

.menu::after {
  content: "";

  width: 0;
  display: block;
  margin: auto;

  height: 3px;
  color: white;
  background-color: white;

  transition: 0.2s;
}

.menu:hover::after {
  width: 100%;
}

.arrow {
  animation: 0.9s infinite spin;
}
@keyframes spin {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
